.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 150;
  display: none;
}


.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 250px;
  height: calc(100% - 60px);
  background-color: rgb(40, 40, 40);
  border-right: 1px solid rgb(40, 40, 40);

  z-index: 90;
  overflow-y: auto;
  transition: left 0.3s ease;

}

.sidebar-hidden .sidebar {
  left: -250px;
}

@media (max-width: 768px) {
  .sidebar {
    left: -250px;
    top: 0;
    height: 100%;
    z-index: 200;
  }

  .sidebar-open {
    left: 0;
  }

  .sidebar-overlay {
    display: block;
  }
}


.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid whitesmoke;
}

.sidebar-header h2 {
  margin: 0;
  font-size: 18px;
  color: whitesmoke;
}


.sidebar-close-button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 20px;
  color: whitesmoke;
}

.sidebar-links {
  padding: 10px 0;
}

.sidebar-link {
  display: block;
  padding: 10px 15px;
  color: whitesmoke;
  text-decoration: none;
}

.sidebar-link:hover {
  background-color: lightgray;
}

.github-project {
  display: flex;
  align-items: center;
}

.github-project span {
  margin-left: 10px;
}