* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: goldenrod;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding: 0;
  /* Ändrat från 20px till 0 för att Header ska ta full bredd */
  margin-top: 60px;
  margin-left: 250px;
  flex: 1;
  transition: margin-left 0.3s ease;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.sidebar-hidden .content {
  margin-left: 0;
}

/* Ny layout för huvudinnehållet */
.main-content {
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 20px;
  padding: 20px;
  flex: 1;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }

  .desktop-sidebar-toggle {
    display: none;
  }


  .main-content {
    grid-template-columns: 1fr;
  }
}